<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="SpellName_1_EN" value="SpellName_enUS_1.13.7.39692.csv"/>
		<add key="SpellName_1_RU" value="SpellName_ruRU_1.13.7.39692.csv"/>
		
		<add key="SpellDesc_1_EN" value="Spell_enUS_1.13.7.39692.csv"/>
		<add key="SpellDesc_1_RU" value="Spell_ruRU_1.13.7.39692.csv"/>

	</appSettings>
</configuration>